<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <title>MPC</title>
</head>

<body>
    
    <header class="main-header">

    <div class="primero">
        <div class="Logo">
            <img src="img/este_si3.png" width="150" alt="LogoMPC">
        </div>


        <div class="titulo">
            <h1 >Bienvenidos a MPC</h1>
        </div>

        <div class="icono">
            <a href="/login"><i class="fas fa-user-circle"></i></a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>

    </div>

    <div class="segundo">
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    </div>


        <nav class="tercero">
            <div class="nav-barr">
            <ul>
                <li><a href="#">Productos </a></li>
                <li><a href="#">Encontra tu equipo</a></li>
                <li><a href="#">Arma tu pc</a></li>
                <li><a href="/perfil">Mi cuenta</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            </div>
        </nav>
    </header>


    <!-- <body> -->


<nav class="caja">
    <div class="clasific">
    <ul>
        <li><a href="/">Inicio/ </a></li>
        <li><a href="#">Marca/</a></li>
        <li><a href="#">Categoría/</a></li>
        <li><a href="#">Computadoras</a></li>

    </ul>
    </div>
</nav>

<div class="container">
    <div class="card">
        <div class="Background">
            
            <h1 class="foto1"h1></h1>
            <img src="img/fotopc1.png" alt="pc" >
    
        </div>
        <div class="info">
            <div class="name">
                <div>
                    <h1>Pc De Escritorio Armada Computadora I5 16gb 480gb</h1>
                </div>
            </div>
            <div class="description">
                <h3 class="title">ESPECIFICACIONES</h3>
                <p class="text">Procesador: Intel Core i5 - 4 Nucleos, 3.30Ghz Max, 4 Subprocesos Memoria Ram: 16Gb Almacenamiento: 480Gb SSD Gabinete: Sentey / Overtech OV-710 / PCBOX Incluye Teclado, Mouse y Parlante.

                <br>
                - Ideal para uso escolar y clases online.
                <br>
                -Stock disponible.
                <br>
                -codigo de producto 1000.
                </p>
            </div>
        
            <div class="size-container">
                <h3 class="title">Compralo en 12 cuotas de $10.939</h3> 
            </div>
            <div class="buy-price">
                <a href="#" class="buy"></a>
                <div class="price">
                <form action="/" method="POST" >
                        <input type="reset"  class="botone" value="Agregar a carrito">
                    </form>
                    <i class="fas fa-dollar-sign"></i>
                    <h1>77.144</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="caja2">

    <div class="subtitulo">
    <h2>También te puede interesar</h2>
</div>

    <div class="fotoabajo">
        <img src="img/foto1.png"  width="200" alt="fotoproducto2" class="ft">
        <p>Computadora Completa amd </p>

        <img src="img/foto2.png" width="200" alt="fotoproducto2" class="ft"> 
        <p>Monitor MSI</p> 

        <img src="img/foto3.png" width="200" alt="fotoproducto2"class="ft">
        <p >monitor asus</p>
        
        <img src="img/foto4.png" width="200" alt="fotoproducto2" class="ft">
        <p >monitor oficina samsung</p>



    </div>

<!-- </body> -->


<footer class="main-footer">
    <div class="logobot">
        <img src="img/este_si3.png" width="150" alt="LogoMPC">
        </div>
    <div class="qrcode">
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DIpLO91jzlH4&s=6&e=m" width="130" alt="Generador de Códigos QR Codes"/>
        
    </div>
    <div>
        <h5>NOSOTROS</h5>
        <ul>
            <li><a href="#">¿Quienes somos?</a></li>
            <li><a href="#">Políticas de privacidad</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
        </ul>
    </div>
    <div>
        <h5>AYUDA</h5>
        <ul>
            <li><a href="#">Soporte Técnico</a></li>
            <li><a href="#">Cambios y Devoluciones</a></li>
            <li><a href="#">Medios de Pagos Habilitados</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Formulario de arrepentimiento</a></li>
        </ul>
    </div>
    <div>
        <h5>INSCRIBITE</h5>
        <form class="formulario">
        <input type="email" placeholder= "dejanos tu mail" required>
        <p>
            <input type="submit" value="ENVIAR">
            </p>
        <div class="form" action="#" method="GET">
        </form>
        
        </div>
    </div>
    <div>
        <h5>CONTACTO</h5>
        <ul>
            <li><a href="">mpc-soporte@gmail.com </a></li>
            <li> 42241569 </li>
            <li> 1560498896</li>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
        </ul>
    </div>
</footer>

</body>

</html>